* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.minirefresh-scroll {
  height: 100%;
}

/**
 IOS 发生高度坍塌解决方案:
   1. flex-shrink
   2. min-height
**/
.hw-bar {
  position: absolute;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 0;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.hw-bar .hw-icon {
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hw-bar .title {
  font-size: 14px;
  color: #b2b2b2;
  margin-left: 10px;
}

.hw-bar .title .hw-icon {
  font-size: 14px;
}

.bar.header #searchBar #btn_search {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: currentColor;
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  vertical-align: middle;
  top: 50%;
  margin-top: -8px;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.31%2015.561l4.114%204.115-.848.848-4.123-4.123a7%207%200%2011.857-.84zM16.8%2011a5.8%205.8%200%2010-11.6%200%205.8%205.8%200%200011.6%200z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.31%2015.561l4.114%204.115-.848.848-4.123-4.123a7%207%200%2011.857-.84zM16.8%2011a5.8%205.8%200%2010-11.6%200%205.8%205.8%200%200011.6%200z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.hw-content {
  position: relative;
  margin-top: 10px;
}

.hw-content .hw-content__card {
  position: relative;
  background-color: white;
  border-radius: 2px;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  margin: 10px 0;
  padding: 10px 0;
}

.hw-content .hw-content__card:first-child {
  margin-top: 0px;
}

.hw-content .hw-content__card .content__title {
  padding: 0 15px;
  margin-bottom: 12px;
  color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hw-content .hw-content__card .content__title__head {
  font-size: 17px;
  display: flex;
}

.hw-content .hw-content__card .content_title__footer {
  display: flex;
  align-items: center;
}

.constDrop {
  background-color: rgba(247, 204, 40, 0.3);
  color: #ff9100;

  font-size: 12px;
  /* width: 38px; */
  height: 18px;
  /* line-height: 24px; */
  text-align: center;
  border-radius: 2px;
  vertical-align: middle;
  /* margin: 0 5px; */
}

.constDrop.hidden {
  display: none;
}

.hw-content .hw-content__card .content__title__badage {
  font-size: 12px;
  width: 38px;
  height: 18px;
  /* line-height: 24px; */
  text-align: center;
  border-radius: 2px;
  background-color: rgba(51, 255, 102, 0.3);
  vertical-align: middle;
  margin: 0 5px;
}

.hw-content .hw-content__card .content__title__badage.green {
  background-color: #33ff6633;
  background-color: rgba(51, 255, 102, 0.3);
  color: #32b43e;
  display: none;
}

.hw-content .hw-content__card .content__title__badage.red {
  background-color: #ff2e2e33;
  background-color: rgba(255, 46, 46, 0.3);
  color: #ec2b2b;
}

.hw-content .hw-content__card .content__title__badage.orange {
  background-color: rgba(247, 204, 40, 0.3);
  color: #ff9100;
}

.hw-content .hw-content__card .content__img {
  padding: 0 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

.hw-content .hw-content__card .content__footer {
  color: #b2b2b2;
  min-height: 14.4px;
  padding: 0 15px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.hw-content .hw-content__card .content__footer .division-name {
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hw-content .hw-content__card .content__footer .static-number {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  height: 20px;
}

.hw-content .hw-content__card .content__footer .static-number .item {
  height: 100%;
  line-height: 20px;
  margin-left: 5px;
}

.hw-footer {
  height: 62px;
}

#origin-img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1000;
  color: white;
}

#origin-img .swiper-slide img {
  width: 100%;
  vertical-align: middle;
  z-index: 1;
  /* margin-top: -9.5%; */
}

#origin-img .swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.hw-content__card .swiper-container {
  overflow: auto;
}

.hw-content__card .swiper-container.zoomIn {
  overflow: hidden;
}

.hw-content__card .swiper-container.zoomOut {
  overflow: auto;
}

.hw-content__card .swiper-container .swiper-wrapper .swiper-slide {
  width: 140px;
  padding: 0 2px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-size: 0;
  /* height: 0; */
  /* padding-bottom: 23%; */
  overflow: hidden;
}

.hw-content__card .swiper-container .swiper-wrapper .swiper-slide.zoomIn {
  width: 100%;
  /* padding: 0; */
  /* padding-bottom: 56.5%; */
}

.hw-content__card .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  /* display:none; */
  /* height:73px; */
}

.hw-content__card .swiper-container .swiper-pagination {
  box-sizing: border-box;
  text-align: right;
  color: white;
  padding-right: 10px;
  display: none;
  pointer-events: none;
}

.hw-content__card .swiper-container.zoomIn .swiper-pagination {
  display: block;
}

#minirefresh {
  position: relative;
  height: 100%;
}

.minirefresh-upwrap.minirefresh-hardware-speedup {
  /* display: none; */
}

.hw-content .minirefresh-scroll {
  background-color: #f5f5f5;
}

.nosignal {
  display: none;
  width: calc(100% - 4px);
  height: 100%;
  opacity: 0.3;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  background-color: black;
  z-index: 2;
  top: 0;
  pointer-events: none;
}

.content__img.zoomIn .nosignal {
  line-height: 195px;
  width: 100%;
}

.aside-content {
  height: 100%;
  top: 0;
}

#aside-container,
#chart-container,
.inner-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

#chart-container,
.inner-container {
  display: block;
  transform: translateX(110%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

#chart-container.slideIn,
.inner-container.slideIn {
  transition: all 0.4s ease-in-out;
  transform: translateX(0%);
  opacity: 1;
}

.content {
  width: 100%;
}

.swiper-pagination {
  pointer-events: none;
}

.no-camera {
  font-size: 14px;
  color: #b2b2b2;
}

.capturePicture>img {
  transform: translate(0, -50%) !important;
}

.video-control {
  top: 50%;
  transform: translate(0, -50%);
}

.user-label {
  color: #ff9100;
  font-size: 15px;
  padding: 14px;
}

.user-label.has {
  color: #32b43e
}